---
- name: install net-analyzer/nrpe
  portage: package=net-analyzer/nrpe

- name: prepare directory for local plugins
  file:
    state: directory
    path: "{{ nrpe_plugins_dir }}"
    owner: root
    group: root
    mode: 0755
  when: nrpe_plugins is defined

- name: download plugins
  get_url: >
    url={{ item.url }}
    dest={{ nrpe_plugins_dir }}/{{ item.name }}
    owner=root group=root mode=0755
  with_items: nrpe_plugins

- name: register list of core plugins
  command: ls /usr/lib/nagios/plugins
  register: _nrpe_core_plugins

- name: configure nrpe
  template: >
    src=nrpe.cfg.j2
    dest=/etc/nagios/nrpe.cfg
    owner=root group=nagios mode=0640
  notify: restart nrpe

- name: enable and start nrpe daemon
  service: name=nrpe enabled=yes state=started
